$font-family: Tahoma;
$body-bg: #fff;
$header__text--color: #737373;
$header__border--color: #cccccc;
$header__button--bg: #e73c50;
$header__button--border: #b5161e;
$button__text--color: #fff;
$border-normal-radius: 3px;
$title--color: #007299;
$link--color: #007299;
$footer__background--color :#007299; 